<div class="main posts-new-edit">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%= form_tag("/posts/create") do %>
      <div class="form">
        <div class="form-body">
          <%= render 'posts/error' %>
          <label for="tags">Tag</label>
          <input name="tags" id="tags" placeholder="カンマ区切りで入力" value="<%= @post_tags %>">
          <div class="form-padding"></div>
          <label for="content">Content</label>
          <textarea name="content" id="content" placeholder="獺祭を飲みました！"><%= @post.content %></textarea>
          <input type="submit" value="投稿">
        </div>
      </div>
    <% end %>
  </div>
</div>
