/* posts/index ================================ */
.posts-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.post-content {
  width: 100%;
  word-wrap: break-word;
}

.post-tag {
  float: left;
  padding-top: 5px;
  padding-right: 5px;
  text-align: left;
}

.post-tag a {
  font-size: 15px;
  color: blue;
}
.post-tag a:hover{
  color: red;
}

.post-time {
  text-align: left;
  color: lightslategray;
  font-size: 14px;
  clear: both;
}

.post-menu {
  float: right;
  width: 100%;
  padding-right: 25px;
  text-align: right;
}

.post-menu a {
  color: blue;
}

.post-menu a:hover{
  color: red;
}

/* posts/new & posts/edit ================================ */
.posts-new-edit textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.form-padding {
  padding-top: 30px;
}
